html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 배경 */
.bg-green {
    background-color: #A2D39C;
}

/* 로그인 화면 */
.login-icon {
    top: 350px;
}

.login-btn {
    bottom: 100px;
}

.kakao-logo { 
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
}


/* 헤더 */
.header {
    position: sticky;
    top: 0;
    align-items: center;
}

/* 푸터 */
.footer {
    position: sticky;
    bottom: 0;
}

.footerIcon {
    color: #4B9460;
    width: 30px; 
    height: 30px;
}
